body
{
    background-color: rgb(170, 138, 89);
    display:flex;
}

#externalContainer
{
    position:relative;
    width: 400px;
    height: 400px;
    background-image: url("./assets/generic_background_large_border.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dummyContainer
{
    position:absolute;
    overflow:visible;
}

.paperdollImg
{
    width: 100%;
    height: 100%;
}
#axis-Y
{
    position:absolute;
    width:0px;
    left: 200px;
    height:100%;
}
#axis-X   {
    position: absolute;
    height:0px;
    top: 200px;
    width: 100%;
}

.spriteContainer
{
    position:absolute;
    overflow:hidden;
}
.spriteContainer:hover
{
    resize: both;
}
.spriteImg
{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.spriteSetting
{
    width: 30rem;
    margin: 2px;
    outline: 1px solid black;
    margin-bottom: 3px;
}

.spriteSetting:hover
{
    margin: 2px;
    outline: 2px solid black;
}
.spriteSetting.activeSetting
{
    outline: 1px solid green;
}

#externalContainer[showgrid="true"] #axis-Y,
#externalContainer[showgrid="true"] #axis-X,
#externalContainer[showgrid="true"] #dummyContainer
{
    outline: 1px solid rgba(255, 235, 205, 0.521);
}

.spriteContainer.activeElement
{
    z-index: 1;
}

#externalContainer[showgrid="true"] .spriteContainer.activeElement
{
    outline: 1px solid green;
}

#externalContainer[showgrid="true"] .spriteContainer
{
    outline: 1px solid black;
}

#otherstuffcontainer
{
    width: 401px;
    padding-left: 2rem;
}

.settingsNameContainer
{
    width: 15rem;
}

#spritePositioner
{
    width: 100%;
}
