body
{
    background-color: rgb(170, 138, 89);
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:2rem;
}
#info
{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
#mainContainer
{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#contentcontainer
{
    grid-row: 1;
}
@media only screen and (min-width: 600px) {
    #mainContainer
    {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #contentcontainer
    {
        grid-column: 2;
    }
}

#mainContainer > div
{
    border: 1px solid black !important;
    border-radius: 5%;
    padding: 1rem;
}
#externalContainer
{
    position:relative;
    width: 400px;
    height: 400px;
    background-image: url("./assets/generic_background_large_border.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#externalContainer.backgroundVisible
{
    background-image: none;
}
#dummyContainer
{
    position:absolute;
    overflow:visible;
}

.paperdollImg
{
    width: 100%;
    height: 100%;
}
#axis-Y
{
    position:absolute;
    width:0px;
    left: 200px;
    height:100%;
}
#axis-X   {
    position: absolute;
    height:0px;
    top: 200px;
    width: 100%;
}

.spriteContainer
{
    position:absolute;
    overflow:hidden;
}
.spriteContainer:hover
{
    resize: both;
}
.spriteImg
{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.spriteOffsetText:hover
{
    font-weight: 700;
    cursor: pointer;
}
.spriteSetting
{
    width: 30rem;
    margin: 2px;
    padding: 0.5rem;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

.spriteSetting:hover
{
    outline: 2px solid black;
}
.spriteSetting.activeSetting
{
    outline: 2px solid #1354B1;
    background-color: rgba(0, 0, 0, 0.3);
}

.spriteSettingsName
{
    font-size : 1vw;
    text-align : center;
    font-weight: bold;
    color:white;
    border-bottom : 1px solid black;
    padding-bottom: 1rem;
}

#externalContainer[showgrid="true"] #axis-Y,
#externalContainer[showgrid="true"] #axis-X,
#externalContainer[showgrid="true"] #dummyContainer
{
    outline: 1px solid rgba(255, 235, 205, 0.521);
}

.spriteContainer.activeElement
{
    z-index: 1;
}

#externalContainer[showgrid="true"] .spriteContainer.activeElement
{
    outline: 1px solid #1354B1;
}

#externalContainer[showgrid="true"] .spriteContainer
{
    outline: 1px solid black;
}

#spriteSettingsContainer
{
}


#spritePositioner
{
    width: 100%;
}


#contentcontainer
{
    margin-left:auto;
    margin-right: auto;
}

#spriteUploadContainer
{
    padding-top: 2rem;
}